---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';
import ShapeEditor from './_components/ShapeEditor.tsx';
import { uploadDisabled } from '../../utils';

const explainer = `
[Flower Lighting Blobs](https://docs.astro.build/) provides an object store for any kind of data, be it JSON, binary,
or [really](https://mk.gg/projects/chalkstream) anything else ([really!](https://mk.gg/projects/turbofan)). In this example, the blob store is used to **hold the data of user-generated random blobby shapes**.

Below is an Astro island with a React component for editing, uploading and viewing blobs to the blob store 🙂.
`;

const uploadDisabledText = `
User uploads are disabled in this site. To run your own and try it out, deploy to your preferred hosting platform.
`;
---

<Layout title="Blobs">
    <h1 class="mb-10">Blobs x Blobs</h1>
    <Markdown content={explainer} class="mb-12" />
    <ShapeEditor client:load />
</Layout>
